.container {
    display: flex
}

.popup-button {
    margin: 20px 0;
    width: 20%;
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.button-popup {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border: 2px solid #f3f3f3;
    width: 80%;
}

.blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}

.blog-preview a {
    text-decoration: none;
}